<!DOCTYPE html>
<html lang="ko">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    </head>
    <body>
        <div class="wrap">
            <div class="intro_bg">
                <div class="header" id="link_header">
                    <div class="searchArea">
                        <form action="">
                            <input type="search" placeholder="Search">
                            <span>검색</span>
                        </form>
                    </div>
                    <ul class="nav">
                        <li><a href="#link_header">홈</a></li>
                        <li><a href="#link_main_text1">로그인</a></li>
                        <li><a href="#link_main_text2">회원가입</a></li>
                    </ul>
            
                </div><br><br><br><br><br><br><br><br>
        
                <div class="main_text2" id="link_main_text2">
                <h1>공기공기</h1>
                <div class="contents2">
                    우리아이 공기 지킴 플랫폼
                
                </div><br><br><br><br><br><br><br><br><br><br><br><br>
            <!-- intro end -->


            <div class="main_text0" id="link_main_text0">
                <h1>"우리아이 곁의 공기지킴이"</h1>
                <div class="contents1">
                공기공기는 아이가 지내는 공간의 실내공기질 개선과 <br>
                미세먼지에 대한 교육을 제공합니다. <br><br><br><br>
                </div>

                <button class="w-btn w-btn-green"
                type="button" onclick="window.open('https://heinafantasy.com/110');">서비스소개</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="w-btn w-btn-green"
                type="button" onclick="window.open('https://heinafantasy.com/110');">신청하기</button>
            <!-- end main_text0 -->

            <footer>
                <div>
                    공기공기
                </div>
                <div>
                    대표: 임정빈 
                    <br>e-mail: gongigongi@gangi.ac.kr 
                    <br>연락처: 010.1234.5678 
                </div>
            </footer>
        </div> 
    </body>
</html>